<section class="section bg-slate-400">
    <div class="container grid grid-cols-2 bg-white">
        <div class="flex flex-col justify-between px-10">
            <h1 class="my-4">Votre plateforme de covoiturage</h1>
            <p class="text-center">"Partager des trajets, sauver la planète"</p>
            <!-- <img src="./assets/images/saveplanet.jpg" alt="save the planet" class="w-60"> -->
            <div class="my-10 flex justify-center gap-4">
                <button class="bg-black text-white">Comment ça marche?</button>
                <button class="bg-black text-white">S'incrire</button>
            </div>
        </div>
        <div>
            <img src="./assets/images/hero-homepage.jpg" alt="" srcset="">
        </div>
    </div>
</section>

<section class="section bg-red-500 py-16">
    <div class="container grid grid-cols-3 gap-10">
        <div class="text-white">
            <img src="./assets/icons/forge-icon.svg" class="mb-8">

            <h2 class="font-bold mb-8">Vos trajets préférés à bas prix</h2>
            <p>“Où que vous alliez, en bus ou en covoiturage, trouvez le trajet idéal parmi notre large choix de
                destinations à petits prix.”</p>
        </div>

        <div class="text-white">
            <img src="./assets/icons/safety-icon.svg" class="
            mb-8">
            <h2 class="font-bold mb-8">Voyagez en toute confiance</h2>
            <p>“Nous prenons le temps de faire connaissance avec notre équipe et les constructeurs automobiles
                partenaires. Nous vérifions les avis, les profils et les identifiants. Ainsi, vous savez à qui vous
                adresser et postulez en toute confiance sur une plateforme sécurisée.”</p>
        </div>

        <div class="text-white">
            <img src="./assets/icons/efficiency-icon.svg" class="mb-8">
            <h2 class="font-bold mb-8"> Expérimentez l’efficacité </h2>
            <p>“Réserver un trajet devient encore plus simple ! Facile d'utilisation et dotée de technologies avancées,
                notre appli vous permet de réserver un trajet à proximité en un rien de temps.”</p>
        </div>

    </div>
</section>

<section class="section bg-purple-400">
    <div class="container grid grid-cols-2">
        <img src="./assets/images/amis-dans-voiture-faisant-voyage-ensemble.jpg" alt="">
        <p class="bg-white p-10">Lorem ipsum dolor sit amet consectetur. Mattis eget vitae vel pellentesque. Tincidunt ac hac est eu ligula
            leo tempus. Neque massa ut eu libero penatibus. Sem eu euismod nunc nunc nunc tellus feugiat ac. Aenean
            habitant eget ornare egestas sodales dignissim ut eget. Mauris massa arcu fermentum sit placerat. Sed cursus
            quam scelerisque morbi suspendisse.</p>
    </div>
</section>