<section class="section">
    <div class="container">
        <img src="./assets/images/femme-montant-dans-voiture-taxi.jpg" class="hero-image">
    </div>
</section>

<section>
    <div class="container">
        <h1 class="text-left text-lg mb-4">NOTRE JOB</h1>
        <div class=" grid grid-cols-2 gap-14">
            <div>
                <p class="mb-10">Lorem ipsum dolor sit amet consectetur. Volutpat vel dignissim diam auctor ultricies adipiscing. Viverra
                    nisl adipiscing iaculis et a nam in cursus.</p>
                <p class="mb-10">Lorem ipsum dolor sit amet consectetur. Volutpat vel dignissim diam auctor ultricies adipiscing. Viverra
                    nisl adipiscing iaculis et a nam in cursus.</p>
                <p class="mb-10">Lorem ipsum dolor sit amet consectetur. Volutpat vel dignissim diam auctor ultricies adipiscing. Viverra
                    nisl adipiscing iaculis et a nam in cursus.</p>
            </div>
            <div>
                <div>
                    <h2>0.1 Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Feugiat adipiscing adipiscing non fringilla massa volutpat id
                        amet eros.</p>
                </div>
                <div>
                    <h2>0.2 Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Feugiat adipiscing adipiscing non fringilla massa volutpat id
                        amet eros.</p>
                </div>
                <div>
                    <h2>0.3 Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Feugiat adipiscing adipiscing non fringilla massa volutpat id
                        amet eros.</p>
                </div>
            </div>
        </div>
    </div>
</section>