<footer class="flex">
    <p>
        (c) Tous droits reservés.
    </p>
    <ul class="flex privacy">
        <li><a href="" target="_blank">Termes et Conditons </a></li>
        <li><a href="" target="_blank">Politiques de confidentialité</a></li>
    </ul>
    <ul class="flex items-center gap-4">
        <a class="flex-item " target="_blank"><img src="./assets/icons/facebook-icon.svg" alt="twitter logo"></a>
        <a class="flex-item " target="_blank"><img src="./assets/icons/instagram-icon.svg" alt=""></a>
        <a class="flex-item " target="_blank"><img src="./assets/icons/tweeter-icon.svg" alt=""></a>
    </ul>
</footer>